---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
import Cell from "../components/Cell.astro";
import BodyText from "../components/BodyText.astro";
import Greetings from "../components/Greetings.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";

interface BlogPost {
  url: string;
  frontmatter: { title: string; intro: string };
}
const posts: BlogPost[] = Object.values(import.meta.glob("./posts/*.md", { eager: true }));

---

<Layout>
	  <Header  >
	<Logo/>
	<Nav/>
	<Greetings greeting="Thoughts & Ideas" />
  </Header>

  <main class="page-content">
    <Grid>
      {
        posts.map((post: BlogPost) => (
          <Cell>
            <a href={post.url}>
              <h4>{post.frontmatter.title}</h4>
              <BodyText>{post.frontmatter.intro}</BodyText>
            </a>
          </Cell>
        ))
      }
    </Grid>
  </main>
</Layout>

<style>
  .page-content {
    a {
      color: #2a2a2a;
      text-decoration: none;
    }
  }

</style>
