---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<Layout>
  <Header greeting="Thoughts & Ideas" />

  <main class="page-content">
    <Grid>
      {
        posts.map((post: any) => (
          <li class="post-cell">
            <a href={post.url}>
              <h4>{post.frontmatter.title}</h4>
              <p>{post.frontmatter.intro}</p>
            </a>
          </li>
        ))
      }
    </Grid>
  </main>
</Layout>

<style>
  .page-content {
    a {
      color: #2a2a2a;
      text-decoration: none;
    }
  }

  .post-cell {
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .post-cell p {
    font-size: 0.9rem;
    line-height: 1.75;
    color: #2a2a2a;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

</style>
