---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Greetings from "../components/Greetings.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
---

<Layout>
	  <Header  >
	<Logo/>
	<Nav/>
	<Greetings greeting="Bonjour" />
  </Header>

  <main class="page-content">
    <section class="text-grid" aria-label="Introduction">
      <div class="text-col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum
        </p>
      </div>
      <div class="text-col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
        <p>
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
          dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est
          laborum
        </p>
      </div>
      <div class="text-col">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam. Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam.
        </p>
        <p>
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non
        </p>
        <p>
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non
        </p>
        <p>
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
          cupidatat non
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
 

 
  .text-grid {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
       padding: 60px 0;
    gap: 0 48px;


  }

  .text-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    p {
      font-size: 0.9rem;
      line-height: 1.75;
      color: var(--primary-text-color)
    }
  }

  @media (max-width: 900px) {
    .text-grid {
      grid-template-columns: 1fr;
      gap: 32px 0;
    }
  }

   @media (max-width: 1200px) {
    .text-grid  {
   
      padding: 40px 0;
    }
  }

  @media (max-width: 1000px) {
    .text-grid  {

         padding: 20px 0;

    }
  }
</style>
