---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Greetings from "../components/Greetings.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
import type { ImageMetadata } from "astro";
import Image from "astro/components/Image.astro";
const images = Object.values(
  import.meta.glob<{ default: ImageMetadata }>("../assets/*.jpg", {
    eager: true,
  }),
).map((module) => module.default);
const fallbackImage = images[Math.floor(Math.random() * images.length)];
---

<Layout>
  <Header>
    <Logo />
    <Nav />
    <Greetings greeting="Bonjour" />
  </Header>

  <main class="page-content">
    <section class="text-grid" aria-label="Introduction">
      <div class="text-col">
        <h2>
          I'm a software engineer living in Montreal. Interested in photography,
          design, and anything relating to visual arts.
        </h2>
        <hr />
        <div class="contact">
          <h2>Contact</h2>
          <ul>
            <li><a href="https://github.com/GuillaumeTech">Github</a></li>
            <li><a href="mailto:hi@example.com">hi@example.com</a></li>
          </ul>
        </div>
      </div>
      <div class="text-col">
        <h2>Latest</h2>
        <h4>Test</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>

        <h4>Test</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam.
        </p>
      </div>
      <div class="text-col random">
        <h4>A random image from my gallery</h4>
        <Image
          id="random-homepage-image"
          src={fallbackImage}
          alt="Random photography from my gallery"
        />
      </div>
    </section>
  </main>
</Layout>

<script define:vars={{ images }}>
  const imgElement = document.getElementById("random-homepage-image");
  if (imgElement && images.length > 0) {
    const randomIndex = Math.floor(Math.random() * images.length);
    const selectedImage = images[randomIndex];
    imgElement.src = selectedImage.src;
    imgElement.width = selectedImage.width;
    imgElement.height = selectedImage.height;
  }
</script>

<style>
  .text-grid {
    padding: 60px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 60px 0;
    gap: 0 48px;
  }

  .text-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    hr {
      margin: 2rem 0;
    }
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }

    .contact {
      text-align: right;
      ul {
        padding-top: 1rem;
        font-size: large;
        list-style: none;
        a {
          color: var(--text-primary-color);
          font-size: 1.3rem;
        }
      }
    }
    &.random {
      text-align: right;
    }
  }

  @media (max-width: 900px) {
    .text-grid {
      grid-template-columns: 1fr;
      gap: 32px 0;
    }
  }

  @media (max-width: 1200px) {
    .text-grid {
      padding: 40px 0;
    }
  }

  @media (max-width: 1000px) {
    .text-grid {
      padding: 20px 0;
    }
  }
</style>
