---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Grid from "../components/Grid.astro";
import BodyText from "../components/BodyText.astro";
import Cell from "../components/Cell.astro";
import Separator from "../components/Separator.astro";
import Greetings from "../components/Greetings.astro";
import Logo from "../components/Logo.astro";
import Nav from "../components/Nav.astro";
const loops = [1, 2, 3, 4, 5, 6, 7];
---

<Layout>
  <Header>
    <Logo />
    <Nav />
    <Greetings greeting="Projects, finished and unfinished" />
  </Header>

  <main class="page-content">
    <Grid>
      <Cell>
        <h4>Gatura</h4>
        <BodyText>
          A geometric serif for display purposes, currently there are 67 glyphs:
          uppercase, lowercase, numbers and !?-.,</BodyText
        >
      </Cell>

      <Cell>
        <h4>Onion Soup</h4>
        <BodyText>
          A first font I made to learn the drawing tools. As an introduction
          project it as limited set of glyphs lowercase and !?.,
        </BodyText>
      </Cell>

      <Cell>
        <h4>RollNest</h4>
        <BodyText>
          Web-app to arragne photos on roll paper for fine art printing.
          Dedicated controls for margins, and automatic layouts.
        </BodyText>
      </Cell>


	   <Cell>
        <h4>My Fermentation notes</h4>
        <BodyText>
          Web-app to keep notes on Fermentation with a scoring system
        </BodyText>
      </Cell>

      <Cell>
        <h4>Genesia</h4>
        <BodyText>
          Guided procedural generation of a bunch of islands.
        </BodyText>
      </Cell>

      <Cell>
        <h4>fb-ads-remove</h4>
        <BodyText>
          Extension to remove "sponsored ", "post you may like" and "suggested
          for you" posts, from your facebook feed.
        </BodyText>
      </Cell>

      <Cell>
        <h4>iso-svg</h4>
        <BodyText> Trace 3d shapes in isometric svg </BodyText>
      </Cell>
    </Grid>

    <Separator text="2024" />
    <Grid />
  </main>
</Layout>
<style>
  :global(body) {
    --primary-text-color: #eaeaea;
    --secondary-text-color: #d3d3d3;
    --background-color: #464646;
    --accent-color: var(--accent-color-projects);
  }
</style>
