---
interface Props {
  lineClamp?: number;
}
const { lineClamp = 0 } = Astro.props;
---

<p class="text">
  <slot />
</p>

<style define:vars={{ lineClamp }}>

  .text  {
        color: var(--secondary-text-color);

    display: -webkit-box;
    -webkit-line-clamp: var(--lineClamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
     font-size: 16px;
      line-height: 130%;
      color: var(--primary-text-color);
  }
</style>
