---
interface Props {
  lineClamp?: number;
}
const { lineClamp = 0 } = Astro.props;
---

<p class="text">
  <slot />
</p>

<style define:vars={{ lineClamp }}>

  .text  {
    font-size: 0.9rem;
    line-height: 1.75;
        color: var(--secondary-text-color);

    display: -webkit-box;
    -webkit-line-clamp: var(--lineClamp);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
