---
import Logo from "./Logo.astro";
---

<header class="site-header">
  <Logo />
  <div class="separator"></div>
  <!-- only using for blog, now, add props when needed-->
  <div class="subsection">
    <a href="/blog">Blog</a>
  </div>
</header>

<style>
  .site-header {
    display: flex;
    gap: 1.2rem;
    padding-top: 100px;
    padding-bottom: 70px;
    align-items: baseline;
  }

  .separator {
    position: relative;
    width: 12px;
    height: 1.7rem;
    background: #e8a020;
align-self: center;
  }

  .subsection a {
    font-size: 1.2rem;
    font-weight: 400;
    color: #1a1a1a;
    text-decoration: none;
  }

  @media (max-width: 1000px) {
    .site-header {
      padding-top: 60px;
    }
    
  }

  @media (max-width: 600px) {
    .site-header {
      padding: 24px 0;
    }
   
  }
</style>
